*{
    margin: 0;
    padding: 0;
}
.btn-modal{
       padding: 10px 15px;
       background-color: black;
       color: white;
       cursor: pointer;
}
.overlay{
    width: 100%;
    height: 100vh;
    background-image: url("./img/OIP.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0%;
    z-index: -1;
    transition: 1s;
    opacity: 0;
}
.showOverlay{
    opacity: 1;
    z-index: 1;
}
.content{
    background-color: white;
    display:flex ;
    flex-direction: column;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 6px 30px;
    box-shadow: 0px 0px 10px 3px #ccc;
    transition: 1.5s;

}
.showContent{
    top: 50%;
    z-index: 2;
}
.head{
    background-color: darkblue;
    color: white;
    border-radius: 25px;
    padding: 8px 15px;
    font-size: 18px;
    margin: 7px 5px;
 
}
input{
    border-radius: 25px;
    padding: 10px;

}
form{
    margin: 4px 20px 20px 30px;
}
.tile1{
    display: flex;

}
label{
    padding: 10px 10px 10px 0px;
    font-weight: bold;
}
.tile5 input{
    margin-left:30px ;
}
.tile4 input{
    margin-left:2px ;
}
.tile3 input{
    margin-left:12px ;
}
.tile2 input{
    margin-left: 11px ;
}
.buttons button{
    border-radius: 25px;
    padding: 10px;
}
.buttons>.btns{
    background-color: rgba(0, 0, 255, 0.695);
    color: white;
}